# INDIVIDUAL ASSIGNMENT

## 1. How many rows and columns reflected on dataset file IMDB-database-update.csv

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/scalabretta/GroupProject--IMDB/master/Dataset/IMDB-database-update.csv', encoding = 'latin1')
df.head()

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
0,1,Avatar,178,1,2009,USA,English,PG-13,237000000,760505847,...,1,855,4834,1,33000,0,886204,3054,7.9,0
1,2,Pirates of the Caribbean: At World's End,169,1,2007,USA,English,PG-13,300000000,309404152,...,1,1000,48350,0,0,0,471220,1238,7.1,0
2,3,The Dark Knight Rises,164,1,2012,USA,English,PG-13,250000000,448130642,...,1,23000,106759,1,164000,0,1144337,2701,8.5,1
3,4,Spider-Man 3,156,1,2007,USA,English,PG-13,258000000,336530303,...,1,4000,46055,0,0,0,383056,1902,6.2,0
4,5,Batman v Superman: Dawn of Justice,183,1,2016,USA,English,PG-13,250000000,330249062,...,1,2000,24450,1,197000,0,371639,3018,6.9,0

In [4]:
df.shape

(3781, 36)

# 2. What are the top 3 movies with highest nett profit in 2013?

In [13]:
df2013 = df[df.title_year == 2013]
df_net = df2013.sort_values(by=['net_USD'], ascending = False)
df_net.head(3)

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
1614,1615,The Hunger Games: Catching Fire,146,1,2013,USA,English,PG-13,130000000,424645577,...,1,523,49355,1,82000,1,498397,706,7.6,0
236,237,Despicable Me 2,98,1,2013,USA,English,PG,76000000,368049635,...,1,1000,11905,1,56000,0,286877,284,7.5,0
57,58,Frozen,102,1,2013,USA,English,PG,150000000,400736600,...,1,490,2582,1,58000,0,421658,904,7.6,0

# 3. What are the top 3 movies with highest gross profit in 2009?

In [14]:
df2009 = df[df.title_year == 2009]
df_gross = df2009.sort_values(by=['gross_USD'], ascending = False)
df_gross.head(3)

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
0,1,Avatar,178,1,2009,USA,English,PG-13,237000000,760505847,...,1,855,4834,1,33000,0,886204,3054,7.9,0
19,20,Transformers: Revenge of the Fallen,150,1,2009,USA,English,PG-13,200000000,402076689,...,1,464,3218,0,0,0,323207,1439,6.0,0
3094,3095,Harry Potter and the Half-Blood Prince,153,1,2009,UK,English,PG,250000000,301956980,...,1,10000,58753,1,10000,3,321795,973,7.5,0

# 4 How many non-english movies are in the dataset?

In [20]:
non_english_movies = len(df)-len(df[df.language == "English"])
non_english_movies

153

# 5 What are top 3 languages in the dataset aside English (based on number of movies)?

In [32]:
df["language"].value_counts()

#French, Spanish, and Mandarin are top 3 languages aside English

English       3628
French          33
Spanish         23
Mandarin        14
Japanese        10
German          10
Cantonese        7
Italian          5
Hindi            5
Portuguese       5
Korean           4
Norwegian        4
Danish           3
Thai             3
Persian          3
Dutch            3
Hebrew           2
Indonesian       2
Aboriginal       2
Dari             2
Maya             1
Czech            1
Mongolian        1
Arabic           1
Zulu             1
Vietnamese       1
Hungarian        1
Kazakh           1
Bosnian          1
Aramaic          1
Russian          1
Filipino         1
None             1
Name: language, dtype: int64

# 6. What are the top 3 countries with the highest nett profit in all dataset times?

In [45]:
df_highestnet = df.sort_values(by=['net_USD'], ascending = False)
df_highestnet["country"].value_counts()

#USA, UK, and France are top 3 countries  with the highest nett profit

USA               3009
UK                 318
France             101
Germany             80
Canada              60
Australia           39
Spain               22
Japan               15
China               14
Hong Kong           13
New Zealand         11
Italy                9
Denmark              9
Mexico               8
South Korea          7
Ireland              7
Brazil               5
India                5
Norway               4
Iran                 4
Thailand             4
Netherlands          3
South Africa         3
Czech Republic       3
Russia               3
Argentina            3
Hungary              2
Israel               2
Philippines          1
Iceland              1
Taiwan               1
Colombia             1
Peru                 1
Indonesia            1
Finland              1
Greece               1
Afghanistan          1
West Germany         1
Chile                1
Georgia              1
Belgium              1
Official site        1
Romania              1
Aruba                1
New Line             1
Poland               1
Name: country, dtype: int64

# 7. What are the average budget of all movies in dataset in 2013?

In [47]:
avg_budget2013 = df2013['budget_USD'].mean()
avg_budget2013

51069610.77439024

# 8. What are the average budget of all movies in dataset in 2014?

In [48]:
df2014 = df[df.title_year == 2014]
avg_budget2014 = df2014['budget_USD'].mean()
avg_budget2014

49919006.62251656

# 9. Which one is higher, average budget of all movies in dataset in 2014 or 2013?

In [50]:
if avg_budget2014 > avg_budget2013:
    print ('Average budget of all movies in 2014 is higher than average budget of all movies in 2013.')
else:
    print('Average budget of all movies in 2013 is higher than average budget of all movies in 2014.')

Average budget of all movies in 2013 is higher than average budget of all movies in 2014.

# 10. What movie that resulted highest nett profit of all dataset times? How much did the movie make?

In [42]:
df_highestnet = df.sort_values(by=['net_USD'], ascending = False)
df_highestnet[['movie_title', 'budget_USD', 'net_USD']].head(1)

  movie_title  budget_USD    net_USD
0      Avatar   237000000  523505847